

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>E-mail</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @user.id %></td>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
		</tr>
	</tbody>
</table>